// Include custom sub theme.
@import 'import';

body {
  font-family: 'ProximaNova-Regular', 'Montserrat', Helvetica, Arial, sans-serif;
  background: $bg-page;
}

header {
  border-bottom: 1px solid $footer-bg-color;

  nav.navbar-dark {
    background: #000;
  }

  .navbar-brand {
    font-family: 'ProximaNova-Bold', 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
}

footer {
  background-color: $footer-bg-color;
}
